body {
    margin: 0;
    background-color: rgb(237, 241, 241);
    width: 100%;
}

.container-geral {
    background-color: rgb(237, 241, 241);
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.titulo {
    display: flex;
    align-items: center;
    gap: 1%;
    font-weight: bold;
    font-size: 18px;
}

.titulo-colorido {
    font-size: 25px;
    font-weight: 800;
    background: linear-gradient(to right,#f74518 ,#c60084, #4D00AF, #157ff7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.titulo a {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.titulo a:hover {
    text-decoration: none;
    color: black;
}

.selecao {
    display: flex;
    justify-content: end;
}

.selecao form {
    display: flex;
    flex-direction: row;
    margin: 2% 2% 4% 1%;
    align-items: center;
    justify-content: center;
}

.btn-editar-sala:hover {
    color: rgb(114, 114, 114);
}

.selecao p {
    width: 100px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.form-select {
    width: 200px;
    height: 50%;
    margin-left: 2%;
    font-size: 15px;
}

.album {
    margin: 0 2% 0 2%;
    display: flex;
    flex-direction: row;
}

.card, .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h2 {
    display: flex;
    justify-content: center;
}

.btn-primary {
    margin: 20px;
}

.card img {
    border-radius: 100%;
    width: 20%;
    
}

.card-img-top {
    border-radius: 100%;
}

.btn-editar {
    background-color: rgb(122, 121, 121);
    color: white;
}

.btn-editar:hover {
    background-color: rgb(66, 66, 66);
}

/*---------------------------------Cadastros---------------------------------------------*/
.container-cadastro-alunos, .container-cadastro-salas {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(237, 241, 241);
    width: 100%;
}

.container-cadastro-alunos form h2, .container-cadastro-salas form h2 {
    margin: 2% 0 10% 0;
    font-size: 25px;
}

.container-cadastro-alunos form, .container-cadastro-salas form {
    background-color: white;
    width: 30%;
    padding: 20px;
    border-radius: 10px;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.container-cadastro-alunos form img, .container-cadastro-salas form img {
    align-self: center;
    margin-bottom: 5%;
}

.btn-forms {
    margin-top: 15px;
    background-color: #337dd1;
    color: white;
    width: 20%;
}

.div-img {
    display: flex;
    justify-content: center;
}

#img-aluno {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.btn-editar-salas {
    color: black;
    text-decoration: underline;
    font-size: 15px;
}