<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Ingrid">
        <title>Controle de Estudantes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/script.js" defer></script>
    </head>

    <body class="h-100">
        <div class="container-geral">
            <div class="navbar d-flex flex-column flex-md-row align-items-center p-3 px-el-12 mb-3  shadow-lg">
                <div class="titulo"><a href="index.html"><h5 class="my-0 mr-md-auto font-weight-normal"><h5 class="titulo-colorido my-0 mr-md-auto">CONTROLE</h5> de Estudantes</h5></a></div>
                <nav class="nav my-2 my-md-2 mr-md-3">
                    <b>Cadastrar: </b>
                    <a class="p-2 text-dark" href="cadastroAluno.html">Alunos</a>|
                    <a class="p-2 text-dark" href="cadastroSala.html">Sala</a>
                </nav>
            </div>

            <div class="selecao">
                <p>Sala de Aula: </p>
                <select class="form-select form-select-sm" aria-label="Small select example">
                    <option selected>Selecionar</option>
                    <option value="1">TI</option>
                    <option value="2">Manufatura</option>
                    <option value="3">Análise de Dados</option>
                </select>
            </div>
            
            <h2>Alunos</h2>
            <div class="album py-5 cards">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="imgs/ingrid.png" data-holder-rendered="true">
                      <div class="card-body">
                        <h5 class="card-title">Ingrid</h5>
                        <p class="card-text">Idade: 19</p>
                      </div>
                      <button class="btn btn-editar" type="submit">Editar</button>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="imgs/mari.png" data-holder-rendered="true">
                      <div class="card-body">
                        <h5 class="card-title">Mariana</h5>
                        <p class="card-text">Idade: 18</p>
                      </div>
                      <button class="btn btn-editar" type="submit">Editar</button>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="imgs/ju.png" data-holder-rendered="true">
                      <div class="card-body">
                        <h5 class="card-title">Juliana</h5>
                        <p class="card-text">Idade: 21</p>
                      </div>
                      <button class="btn btn-editar" type="submit">Editar</button>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="imgs/helena.png" data-holder-rendered="true">
                      <div class="card-body">
                        <h5 class="card-title">Helena</h5>
                        <p class="card-text">Idade: 18</p>
                      </div>
                      <button class="btn btn-editar" type="submit">Editar</button>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                      <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="imgs/mile.png" data-holder-rendered="true">
                      <div class="card-body">
                        <h5 class="card-title">Milena</h5>
                        <p class="card-text">Idade: 18</p>
                      </div>
                      <button class="btn btn-editar" type="submit">Editar</button>
                    </div>
                  </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>